 td, th {
    border: 1px solid #ddd;
    padding: 4px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
    text-align: left;
    background-color: rgb(114, 116, 114);
    color: white;
}